button {
    width: 101px;
    background-color: var(--bg-btn-color);
    color: var(--font-btn-color);
    font-size: 16px;
    font-weight: 400;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}