main h1 {
    color: var(--font-primary-color);
    font-size: 48px;
    font-weight: 700;
    padding: 3px 0;
}

main p {
    color: var(--font-secundary-color);
    font-size: 24px;
    font-weight: 700;
    padding: 3px 0;
}