.rh-user-container {
    background-color: var(--bg-user-color);
    height: 334px;
    border-radius: 8px;
    gap: 30px;
    display: flex;
    align-items: center;
    padding: 0 40px;
}

.rh-user-container-left img {
    width: 247px;
    height: 247px;
}

.rh-user-container-right {
    width: 100%;
    height: 247px;
    background-color: var(--bg-user-data-color);
    border: 1px solid var(--border-user-data-color);
    border-radius: 6px;
    padding: 13px 15px;
}

.rh-user-container-right h3 {
    color: var(--font-primary-user-color);
    font-size: 20px;
}

.rh-user-container-right-items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rh-user-container-right-item {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-user-data-color);
    border-radius: 4px;
    height: 40px;
    padding: 0 10px;
    gap: 5px;
}

.rh-user-container-right-item h4 {
    color: var(--font-secundary-user-color);
    font-size: 16px;
    font-weight: 700;
}

.rh-user-container-right-item p {
    color: var(--font-secundary-user-color);
    font-size: 16px;
    font-weight: 400;
}